{% extends "base.html.twig" %}

{% block title %}Ask a Question{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="bg-light mt-4 p-4">
                <h1>Ask a Question</h1>

                {{ include('questions/_questionForm.html.twig', {
                    button_text: 'Submit'
                }) }}
            </div>
        </div>
    </div>
{% endblock %}
